* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 217, 134);
}

#container {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  align-items: flex-end;
}

#container div {
  width: 50px;
  height: 50px;
}

#div1 {
  background-color: green;
}
#div2 {
  background-color: blue;
}
#div3 {
  background-color: red;
}
